<div class="topnav">
  <a href="/">HOME</a>
  <a routerLink="/login" class="active">Login</a>
  <a routerLink="/register">Register</a>
</div>

<h2>LOGIN</h2>
<form (ngSubmit)="submit()" >
  <div class="imgcontainer">
    <img src="/assets/images/arch_login.png" />
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required [formControl]="username">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required [formControl]="password">

    <button type="submit">Login</button>
    <label class="b">
      Remember me<input type="checkbox" class="check" checked="checked" name="remember">
    </label>
    <div style="top:10px; position:relative;">
      <a routerLink="/">Forget password?</a>
    </div>
  </div>


</form>
